html, body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	margin: 0px;
}

select#method {
	position: absolute;
	top: 1%;
	left: 1%;
	width: 15%;
	height: 4%;
	font-size: 2vh;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

input#first-color {
	position: absolute;
	top: 1%;
	left: 18%;
	width: 5%;
	height: 4%;
}

input#size {
	position: absolute;
	top: 1%;
	left: 25%;
	width: 50%;
	height: 4%;
}

input#second-color {
	position: absolute;
	top: 1%;
	left: 77%;
	width: 5%;
	height: 4%;
}

button#create {
	position: absolute;
	top: 1%;
	left: 84%;
	width: 15%;
	height: 4%;
	font-size: 2vh;
	overflow: hidden;
	text-overflow: ellipsis;
}

canvas#maze {
	position: absolute;
	top: 6%;
	left: 1%;
	width: 98%;
	height: 93%;
	image-rendering: pixelated;
}
