body
{
;	text-align: center
;	font-family: sans-serif
; background-color: #FFF
; color: #333
}
h1
{
;	margin-bottom: 50px
}
#coefficient-table
{
;	margin: 0px auto 20px auto
;	border-collapse: collapse
;	font-family: sans-serif
;	text-align: left;
}
#coefficient-table th
{
;	background-color: #EEE
; color: #222
}
#coefficient-table td
{
;	text-align: center
}
#coefficient-table th,
#coefficient-table td
{
;	border: 1px solid darkgray
;	padding: 5px
}
input + input
{
;	margin-left: 10px
}
#remember-checkbox
{
;	display: none
}
#remember-checkbox:checked + .remember p,
#remember-checkbox:checked + .remember pre
{
	display: none;
}
.remember
{
;	margin-top: 20px
;	margin-bottom: 20px
}
.remember details
{
;	border: 1px solid darkblue
;	display: inline
}
.remember summary
{
;	color: white
;	font-weight: bold
;	background-color: darkblue
;	padding: 3px 5px
; cursor: pointer
}
.remember p
{
; padding: 10px;
; border: 1px solid #AAA
; margin: 10px
}
.remember pre
{
;	text-align: left
; padding: 10px;
; border: 1px solid #AAA
; margin: 10px
}
#division-table
{
;	margin: 0px auto
;	border-collapse: collapse
;	font-family: sans-serif
}
#division-table td.dividend
{
;	text-align: right
;	padding-right: 3px
;	border-bottom: 1px solid transparent
}
#division-table td.separator
{
;	width: 10px
}
#division-table td.divisor
{
;	text-align: left
;	padding-left: 10px
;	padding-right: 10px
;	border-left: 1px solid black
;	border-bottom: 1px solid black
}
#division-table td.minus-sign
{
;	text-align: right
;	padding-left: 3px
;	border-bottom: 1px solid black
}
#division-table td.subtrahend
{
;	text-align: right
;	padding-right: 3px
;	border-bottom: 1px solid black
}
#division-table td.quotient
{
;	text-align: left
;	padding-left: 10px
;	border-left: 1px solid transparent
}
#division-table td.remainder
{
;	text-align: right
;	padding-right: 3px
}
