.cube {
	--size: 20vmin;
	--half-size: calc(var(--size) / 2);
	--opacity: 0.5;
	position: absolute;
	top: calc(50vmin - var(--half-size));
	left: calc(50vmax - var(--half-size));
	width: var(--size);
	height: var(--size);
	user-select: none;
	transform-style: preserve-3d;
	/* perspective: 200px;
	/* perspective-origin: 150% 150%; */
}

.cube .face {
	position: absolute;
	width: var(--size);
	height: var(--size);
	backface-visibility: visible;
	line-height: var(--size);
	text-align: center;	
	font-size: var(--size);
	font-family: sans-serif;
	color: white;
}

.cube .front {
	background: rgba(0, 255, 255, var(--opacity));
	transform: translateZ(var(--half-size));
}
.cube .back {
	background: rgba(0, 255, 0, var(--opacity));
	transform: rotateY(180deg) translateZ(var(--half-size));
}
.cube .right {
	background: rgba(255, 0, 0, var(--opacity));
	transform: rotateY(90deg) translateZ(var(--half-size));
}
.cube .left {
	background: rgba(0, 0, 255, var(--opacity));
	transform: rotateY(-90deg) translateZ(var(--half-size));
}
.cube .top {
	background: rgba(255, 255, 0, var(--opacity));
	transform: rotateX(90deg) translateZ(var(--half-size));
}
.cube .bottom {
	background: rgba(255, 0, 255, var(--opacity));
	transform: rotateX(-90deg) translateZ(var(--half-size));
}
