
body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	font-family: sans-serif;
	margin: 2rem;
}

table {
	
	border-collapse: collapse;
}

td {
	padding: 10px;
	text-align: center;
	border: 1px solid #333;
	color: #333;
}

tr:nth-child(1) td {
	background-color: #F33;
	color: #FFF;
	font-weight: bold;
}

tr:nth-child(2) td {
	color: #666;
}
