#book-images {
	list-style: none;

	scroll-behavior: smooth;
	scrollbar-color: var(--scrollbar-color) transparent;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#book-images img {
	cursor: pointer;
	padding: 10%;
	width: calc(15 * var(--1dvmin));
	height: calc(15 * var(--1dvmin));
	min-width: 200px;
	min-height: 200px;
}

@media (max-aspect-ratio: 1 / 1) {
	#book-images {
		overflow-x: scroll;
		overflow-y: hidden;
		flex-direction: column;
	}
}

@media (min-aspect-ratio: 1 / 1) {
	#book-images {
		overflow-x: hidden;
		overflow-y: scroll;
		flex-direction: row;
	}
}
