#book {
	--gap: calc(4 * var(--1dvmin));
	
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	padding: calc(0.5 * var(--gap));
	background: white;
	
	display: none;
	grid-gap: var(--gap);
}

#book.open {
	display: grid;
}

#book-buttons {
	grid-area: buttons;
	
	display: flex;
	justify-content: flex-end;
}

#book-images {
	grid-area: images;
}

#book-scroll-buttons {
	grid-area: scroll-buttons;
	
	display: flex;
	justify-content: center;
	gap: 15%;
}

#book-scroll-back-button polygon {
	transform: rotate(var(--angle)) scale(0.5) translate(0%, -10%);
}

#book-scroll-forth-button polygon {
	transform: rotate(var(--angle)) scale(0.5) translate(0%, 10%);
}

@media (max-aspect-ratio: 1 / 1) {
	#book {
		--angle: -90deg;
		
		--buttons-height: calc(15 * var(--1dvmin));
		--images-height: calc(100%
			- var(--buttons-height)
			- var(--gap)
			- var(--scroll-buttons-height)
			- var(--gap));
		--scroll-buttons-height: calc(15 * var(--1dvmin));
			
		grid-template-areas: "buttons" "images" "scroll-buttons";
		grid-template-rows: var(--buttons-height) var(--images-height) var(--scroll-buttons-height);
		grid-template-columns: 100%;
		column-gap: 0%;
	}
	
	#book-buttons, #book-scroll-buttons {
		flex-direction: row;
	}
}

@media (min-aspect-ratio: 1 / 1) {
	#book {
		--angle: 0deg;

		--buttons-height: calc(15 * var(--1dvmin));
		--scroll-buttons-height: calc(100%
			- var(--buttons-height));

		--images-width: calc(100%
			- var(--buttons-width)
			- var(--gap));
		--buttons-width: calc(15 * var(--1dvmin));

		grid-template-areas: "images buttons" "images scroll-buttons";
		grid-template-rows: var(--buttons-height) var(--scroll-buttons-height);
		grid-template-columns: var(--images-width) var(--buttons-width);
		row-gap: 0%;
	}
	
	#book-buttons, #book-scroll-buttons {
		flex-direction: column;
	}
}
