*:root {
	--background-color: #FFFFFF;
	
	--button-color: #FFFFFF;
	--button-background-color: #202020;
	--button-outline-color: #C0C0C0;
	
	--slider-track-color: #C0C0C0;
	--slider-thumb-color: #202020;
	
	--scrollbar-color: #C0C0C0;
}

html, body {
	width: 100%;
	height: 100%;
	background: var(--background-color);
}

* {
	box-sizing: border-box;
	padding: 0px;
	border: none;
	margin: 0px;
	outline: none;
}
