#enable-script-message, #allow-script-message {
	display: flex;
	justify-content: center;
	padding: 2em;
}

#enable-script-message p, #allow-script-message p {
	padding: 2em;
	font-family: sans-serif;
	border: 0.1em solid #FF0000;
	background: #FFFCFC;
}

#enable-script-message strong, #allow-script-message strong {
	font-weight: bold;
}
