#page-colors {
	--row-height: calc(100% / var(--rows));
	--column-width: calc(100% / var(--columns));
	
	display: grid;
	grid-template-rows: repeat(var(--rows), var(--row-height));
	grid-template-columns: repeat(var(--columns), var(--column-width));
	justify-items: center;
	align-items: center;
}

#page-colors label {
	--length: calc(90% * (0.5 + 0.5 * var(--size)));
	--rgba: rgb(var(--color), calc(0.3 + 0.7 * var(--opacity)));
	
	width: var(--length);
	height: var(--length);
	
	display: flex;
	justify-content: center;
	align-content: flex-start;
	
	background: radial-gradient(at left top, var(--rgba), black 500%);
	border-radius: 10%;
	cursor: pointer;
}

#page-colors input {
	display: none;
}

#page-colors svg {
	transform: scale(0.5);
	visibility: hidden;
}

#page-colors input:checked + svg {
	visibility: visible;
}

