#page {
	--gap: calc(2 * var(--1dvmin));

	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding: var(--gap);
	background: white;
	
	display: none;
	grid-gap: var(--gap);
}

#page.open {
	display: grid;
}

#page-buttons {
	grid-area: buttons;
	
	display: flex;
	justify-content: space-between;
}

#page-image {
	grid-area: image;
	
	display: flex;
  align-items: center;
  justify-content: center;
}

#page-image-canvas {
	height: var(--height);
	width: var(--width);
	cursor: crosshair;
}

#page-tools {
	grid-area: tools;
	
	display: grid;
	grid-gap: var(--gap);
}

#page-size {
	grid-area: size;
}

#page-opacity {
	grid-area: opacity;
}

#page-colors {
	grid-area: colors;
}

@media (max-aspect-ratio: 1 / 1) {
	#page {
		--buttons: calc(15 * var(--1dvmin));
		--slider: calc(5 * var(--1dvmax));
		--colors: calc(20 * var(--1dvmax));
		--tools: calc(var(--slider) + var(--gap) + var(--colors));
		--image: calc(100%
			- var(--buttons)
			- var(--gap)
			- var(--tools)
			- var(--gap));
	
		grid-template-areas: "buttons" "image" "tools";
		grid-template-rows: var(--buttons) var(--image) var(--tools);
		grid-template-columns: 100%;
	}
	
	#page-buttons {
		flex-direction: row;
	}
	
	#page-tools {
		grid-template-areas: "size opacity" "colors colors";
		grid-template-rows: var(--slider) var(--colors);
		grid-template-columns: calc(50% - var(--gap)) calc(50% - var(--gap));
		grid-column-gap: calc(2 * var(--gap));
	}
}

@media (min-aspect-ratio: 1 / 1) {
	#page {
		--buttons: calc(15 * var(--1dvmin));
		--tools: calc(20 * var(--1dvmax));
		--image: calc(100%
			- var(--buttons)
			- var(--gap)
			- var(--tools)
			- var(--gap));
		
		grid-template-areas: "buttons image tools";
		grid-template-rows: 100%;
		grid-template-columns: var(--buttons) var(--image) var(--tools);
	}
	
	#page-buttons {
		flex-direction: column;
	}
	
	#page-tools {
		grid-template-areas: "size" "opacity" "colors";
		grid-template-rows: 10% 10% calc(80% - 2 * var(--gap));
		grid-template-columns: 100%;
	}
}
