input[type=range] {
  margin: 0px;
  background: transparent;
}

/* Mozilla ========================================================== */

input[type=range] {
  -moz-appearance: none;
}

input[type=range]::-moz-range-track {
	-moz-appearance: none;
  height: 5px;
 	background: var(--slider-track-color);
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	-moz-appearance: none;
	border: none;
	width: 25px;
  height: 25px;
  background-color: var(--slider-thumb-color);
  border-radius: 50%;
	cursor: ew-resize;
}

/* Webkit =========================================================== */

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 5px;
	background: var(--slider-track-color);
	cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: calc(-0.5 * (25px - 5px));
  width: 25px;
  height: 25px;
  background-color: var(--slider-thumb-color);
  border-radius: 50%;
  cursor: ew-resize;
}

/* Microsoft ======================================================== */

input[type=range]::-ms-track {
 
}

input[type=range]::-ms-fill-lower {
  
}

input[type=range]::-ms-fill-upper {
  
}

input[type=range]::-ms-thumb {
  
}
