svg.button {
	cursor: pointer;
}

svg.button > circle {
	fill: var(--button-outline-color);
}

svg.button > g {
	transform-origin: center;
	transform: scale(0.85);
}

svg.button > g > *:nth-child(1) {
	fill: var(--button-background-color);
}

svg.button > g > *:nth-child(2) {
	fill: var(--button-color);
	transform-origin: center;
	transform: scale(0.5);
}
