body {
	--margin: calc(4 * min(1vh, 1vw));
	margin: var(--margin); 
}

#element-area {
	--border: calc(0.25 * min(1vh, 1vw));
	--width: calc(100vw - var(--margin) * 2 - var(--border) * 2);
	--height: calc(100vh - var(--margin) * 2 - var(--border) * 2);
	width: var(--width);
	height: var(--height);
	border: var(--border) solid #F0F0F0;
	user-select: none;
}

#element-area > * {
	width: 18vh;
	height: 18vh;
	line-height: 18vh;
	font-size: 1.5vh;
	border-radius: 50%;
	text-align: center;
	font-family: sans-serif;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#element-area {
	position: relative;
	overflow: hidden;
	background-position: var(--x) var(--y);
	background-size: calc(40px * var(--scale)) calc(40px * var(--scale));
	background-image:
		linear-gradient(to right, #F0F0F0 1px, transparent 1px),
		linear-gradient(to bottom, #F0F0F0 1px, transparent 1px);
}

#element-area > * {
	position: absolute;
	transform-origin: top left;
	transform: translate(var(--x), var(--y)) scale(var(--scale));
}
