body > * {
	margin-left: auto;
	margin-right: auto;
}

h1.subtitled {
	margin-bottom: 0px
}

p.subtitle {
	margin-top: 0px;
	color: gray;
	font-family: sans-serif;
	font-stretch: ultra-condensed;
}

table.grid {
	border-collapse: collapse
}

table.grid td {
	width: 32px;
	height: 44px;
	background-color: #EEE;
	border: 1px solid #CCC;
	padding: 1px
}

div.tile {
	width: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	background-color: #D3CCB9;
	border-width: 1px;
	border-style: solid;
	border-left-color: #A0A0A0;
	border-right-color: #808080;
	border-top-color: #A0A0A0;
	border-bottom-color: #808080;
	border-radius: 2px;
	box-shadow: inset -1px -1px 2px #808080, inset 2px 2px 2px #FFFFFF;
	user-select: none;
}

div.bad-tile {
	border: 1px solid red;
	box-shadow: inset -1px -1px 2px #808080, inset 2px 2px 2px #FFFFFF, 0px 0px 2px red;
}

div.piece:hover {
	cursor: default;
}

div.blue {
	color: #0039FF;
}

div.red {
	color: #BE0407;
}

div.yellow {
	color: #F38331;
}

div.black {
	color: #000;
}

