ul.entries {
	list-style-type: none;
	padding-left: 0px;
}

ul.entries li.directory {
	font-weight: bold;
}

html {
	font-family: sans-serif;
}

fieldset.upload {
	margin-bottom: 20px;
}

div.uploaded-files {

}

div.error-message {
	background-color: #FFF0F0;
	border: 1px solid red;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
}

